doctype html
html
    head
        script(src="https://cdn.tailwindcss.com") 
        block meta

    body
        nav This is a navbar.
            a(href="/posts/new") New Post
        block content
        footer This is a footer.